*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --ds-gray-100: #f2f2f2;
  --ds-gray-200: #ebebeb;
  --ds-gray-300: #e6e6e6;
  --ds-gray-400: #ebebeb;
  --ds-gray-500: #c9c9c9;
  --ds-gray-600: #a8a8a8;
  --ds-gray-700: #8f8f8f;
  --ds-gray-800: #7d7d7d;
  --ds-gray-900: #666;
  --ds-gray-1000: #171717;
  --ds-gray-alpha-100: #f5f5f5;
  --ds-gray-alpha-200: rgba(0,0,0,.08);
  --ds-gray-alpha-300: rgba(0,0,0,.1);
  --ds-gray-alpha-400: rgba(0,0,0,.08);
  --ds-gray-alpha-500: rgba(0,0,0,.21);
  --ds-gray-alpha-600: rgba(0,0,0,.34);
  --ds-gray-alpha-700: rgba(0,0,0,.44);
  --ds-gray-alpha-800: rgba(0,0,0,.51);
  --ds-gray-alpha-900: rgba(0,0,0,.61);
  --ds-gray-alpha-1000: rgba(0,0,0,.91);
  --ds-blue-100: #f0f7ff;
  --ds-blue-200: #ebf5ff;
  --ds-blue-300: #e0f0ff;
  --ds-blue-400: #cce6ff;
  --ds-blue-500: #99ceff;
  --ds-blue-600: #52aeff;
  --ds-blue-700: #0072f5;
  --ds-blue-800: #0062d1;
  --ds-blue-900: #0068d6;
  --ds-blue-1000: #00254d;
  --ds-red-100: #fff0f0;
  --ds-red-200: #ffebeb;
  --ds-red-300: #ffe6e6;
  --ds-red-400: #fdd8d8;
  --ds-red-500: #f8baba;
  --ds-red-600: #f87275;
  --ds-red-700: #e5484d;
  --ds-red-800: #d93036;
  --ds-red-900: #ca2b30;
  --ds-red-1000: #391417;
  --ds-amber-100: #fff7e6;
  --ds-amber-200: #fff4d6;
  --ds-amber-300: #fef0cd;
  --ds-amber-400: #ffdd8f;
  --ds-amber-500: #ffc96b;
  --ds-amber-600: #f5b047;
  --ds-amber-700: #ffb224;
  --ds-amber-800: #ff990a;
  --ds-amber-900: #a35200;
  --ds-amber-1000: #4e2009;
  --ds-green-100: #effbef;
  --ds-green-200: #ebfaeb;
  --ds-green-300: #daf6da;
  --ds-green-400: #c6f1c7;
  --ds-green-500: #99e69e;
  --ds-green-600: #6cda75;
  --ds-green-700: #45a557;
  --ds-green-800: #398e4a;
  --ds-green-900: #297a3a;
  --ds-green-1000: #1b311e;
  --ds-teal-100: #eefcf9;
  --ds-teal-200: #e5faf6;
  --ds-teal-300: #d4f7f0;
  --ds-teal-400: #bef4eb;
  --ds-teal-500: #86ead9;
  --ds-teal-600: #45dec5;
  --ds-teal-700: #12a594;
  --ds-teal-800: #0d8c7d;
  --ds-teal-900: #067a6e;
  --ds-teal-1000: #073c34;
  --ds-purple-100: #f9f0ff;
  --ds-purple-200: #f9f1fe;
  --ds-purple-300: #f4e8fc;
  --ds-purple-400: #eddcf9;
  --ds-purple-500: #d5b1f1;
  --ds-purple-600: #bf89ec;
  --ds-purple-700: #8e4ec6;
  --ds-purple-800: #763da9;
  --ds-purple-900: #7820bc;
  --ds-purple-1000: #2e004d;
  --ds-pink-100: #ffebf5;
  --ds-pink-200: #feecf2;
  --ds-pink-300: #fce3ec;
  --ds-pink-400: #f9d7e2;
  --ds-pink-500: #f5b8cc;
  --ds-pink-600: #ee87a7;
  --ds-pink-700: #ea3e83;
  --ds-pink-800: #df2670;
  --ds-pink-900: #bd2864;
  --ds-pink-1000: #430a23;
  --ds-background-100: #fff;
  --ds-background-200: #fafafa;
  --success-lighter: #d3e5ff;
  --success-light: #3291ff;
  --success: #0070f3;
  --success-dark: #0761d1;
  --error-lighter: #f7d4d6;
  --error-light: #ff1a1a;
  --error: #e00;
  --error-dark: #c50000;
  --warning-lighter: #ffefcf;
  --warning-light: #f7b955;
  --warning: #f5a623;
  --warning-dark: #ab570a;
  --violet-lighter: #d8ccf1;
  --violet-light: #8a63d2;
  --violet: #7928ca;
  --violet-dark: #4c2889;
  --violet-background: #fff;
  --violet-background-secondary: #291c3a;
  --violet-background-tertiary: #eae5f4;
  --background-rgb: 255,255,255;
  --foreground-rgb: 0,0,0;
  --console-header: #efe7ed;
  --console-purple: #7928ca;
  --console-text-color-default: var(--foreground);
  --console-text-color-blue: #0070f3;
  --console-text-color-pink: #eb367f;
  --console-text-color-purple: #7928ca;
  --cyan-lighter: #aaffec;
  --cyan-light: #79ffe1;
  --cyan: #50e3c2;
  --cyan-dark: #29bc9b;
  --highlight-purple: #f81ce5;
  --highlight-magenta: #eb367f;
  --highlight-pink: #ff0080;
  --highlight-yellow: #fff500;
  --foreground: #000;
  --background: #fff;
  --selection: var(--cyan-light);
  --selection-text-color: var(--foreground);
  --accents-1: #fafafa;
  --accents-2: #eaeaea;
  --accents-3: #999;
  --accents-4: #888;
  --accents-5: #666;
  --accents-6: #444;
  --accents-7: #333;
  --accents-8: #111;
  --link-color: var(--success);
  --marketing-gray: #fafbfc;
  --code: var(--foreground);
  --secondary-lighter: var(--accents-2);
  --secondary-light: var(--accents-3);
  --secondary: var(--accents-5);
  --secondary-dark: var(--accents-7);
  --dropdown-box-shadow: 0 4px 4px 0 rgba(0,0,0,.02);
  --dropdown-triangle-stroke: #fff;
  --scroller-start: #fff;
  --scroller-end: hsla(0,0%,100%,0);
  --shadow-smallest: 0px 2px 4px rgba(0,0,0,.1);
  --shadow-extra-small: 0px 4px 8px rgba(0,0,0,.12);
  --shadow-small: 0 5px 10px rgba(0,0,0,.12);
  --shadow-medium: 0 8px 30px rgba(0,0,0,.12);
  --shadow-large: 0 30px 60px rgba(0,0,0,.12);
  --shadow-hover: 0 30px 60px rgba(0,0,0,.12);
  --shadow-sticky: 0 12px 10px -10px rgba(0,0,0,.12);
  --portal-opacity: 0.25;
  --wv-green: #0cce6b;
  --wv-orange: #ffa400;
  --wv-red: #ff4e42;
  --develop-start-gradient: #007cf0;
  --develop-end-gradient: #00dfd8;
  --develop-line-end: #019ae9;
  --develop-text: #0a72ef;
  --preview-start-gradient: #7928ca;
  --preview-end-gradient: #ff0080;
  --preview-line-end: #9a1fb8;
  --preview-text: #de1d8d;
  --ship-start-gradient: #ff4d4d;
  --ship-end-gradient: #f9cb28;
  --ship-line-end: #f9cb28;
  --ship-text: #ff5b4f;
  --next-icon-border: #000;
  font-size: 16px;
  --space: 4px;
  --space-2x: 8px;
  --space-3x: 12px;
  --space-4x: 16px;
  --space-6x: 24px;
  --space-8x: 32px;
  --space-10x: 40px;
  --space-16x: 64px;
  --space-24x: 96px;
  --space-32x: 128px;
  --space-48x: 192px;
  --space-64x: 256px;
  --space-small: 32px;
  --space-medium: 40px;
  --space-large: 48px;
  --space-gap: 24px;
  --space-gap-half: 12px;
  --space-gap-quarter: var(--space-2x);
  --gap: var(--space-gap);
  --gap-half: var(--space-gap-half);
  --gap-quarter: var(--space-gap-quarter);
  --gap-double: var(--space-large);
  --gap-section: var(--space-small);
  --space-negative: -4px;
  --space-2x-negative: -8px;
  --space-4x-negative: -16px;
  --space-8x-negative: -32px;
  --space-16x-negative: -64px;
  --space-24x-negative: -96px;
  --space-32x-negative: -128px;
  --space-48x-negative: -192px;
  --space-64x-negative: -256px;
  --space-small-negative: -32px;
  --space-medium-negative: -40px;
  --space-large-negative: -48px;
  --space-gap-negative: -24px;
  --space-gap-half-negative: -12px;
  --space-gap-quarter-negative: var(--space-2x-negative);
  --gap-negative: var(--space-gap-negative);
  --gap-half-negative: var(--space-gap-half-negative);
  --gap-quarter-negative: var(--space-gap-quarter-negative);
  --gap-double-negative: var(--space-large-negative);
  --page-margin: var(--space-gap);
  --page-width: 1200px;
  --page-width-with-margin: calc(var(--page-width) + calc(2 * var(--page-margin)));
  --radius: 5px;
  --marketing-radius: 8px;
  --text-gradient: linear-gradient(180deg,rgba(0,0,0,.8),#000);
  --font-sans-fallback: "Inter",-apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
  --font-mono: "Roboto Mono",Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace;
  --font-space-grotesk: Space Grotesk,var(--font-sans);
  --header-height: 64px;
  --header-border-bottom: inset 0 -1px 0 0 rgba(0,0,0,.1);
  --header-background: hsla(0,0%,100%,.8);
  --header-import-flow-background: hsla(0,0%,98%,.8);
  --form-large-font: 1rem;
  --form-large-line-height: 1.5rem;
  --form-large-height: var(--space-large);
  --form-small-font: 0.875rem;
  --form-small-line-height: 0.875rem;
  --form-small-height: var(--space-small);
  --form-font: 0.875rem;
  --form-line-height: 1.25rem;
  --form-height: var(--space-medium);
  --inset-border: 1px solid rgba(0,0,0,.1);
  --ds-shadow-base: 0 0 0 1px rgba(0,0,0,.08);
  --ds-shadow-small: var(--ds-shadow-base),0px 1px 2px rgba(0,0,0,.04);
  --ds-shadow-medium: var(--ds-shadow-base),0px 2px 2px rgba(0,0,0,.04),0px 8px 8px -8px rgba(0,0,0,.04);
  --ds-shadow-large: var(--ds-shadow-base),0px 2px 2px rgba(0,0,0,.04),0px 8px 16px -4px rgba(0,0,0,.04);
  --ds-shadow-tooltip: var(--ds-shadow-base),0px 1px 1px rgba(0,0,0,.02),0px 4px 8px rgba(0,0,0,.04);
  --ds-shadow-menu: var(--ds-shadow-base),0px 1px 1px rgba(0,0,0,.02),0px 4px 8px -4px rgba(0,0,0,.04),0px 16px 24px -8px rgba(0,0,0,.06);
  --ds-shadow-modal: var(--ds-shadow-base),0px 1px 1px rgba(0,0,0,.02),0px 8px 16px -4px rgba(0,0,0,.04),0px 24px 32px -8px rgba(0,0,0,.06);
  --ds-shadow-fullscreen: var(--ds-shadow-base),0px 1px 1px rgba(0,0,0,.02),0px 8px 16px -4px rgba(0,0,0,.04),0px 24px 32px -8px rgba(0,0,0,.06);
  --ds-focus-ring: 0 0 0 1px var(--ds-background-100),0 0 0 3px var(--ds-blue-800);
}

.dark-theme {
  --ds-gray-100: #1a1a1a;
  --ds-gray-200: #1f1f1f;
  --ds-gray-300: #292929;
  --ds-gray-400: #2e2e2e;
  --ds-gray-500: #454545;
  --ds-gray-600: #878787;
  --ds-gray-700: #8f8f8f;
  --ds-gray-800: #7d7d7d;
  --ds-gray-900: #a1a1a1;
  --ds-gray-1000: #ededed;
  --ds-gray-alpha-100: hsla(0,0%,100%,.07);
  --ds-gray-alpha-200: hsla(0,0%,100%,.09);
  --ds-gray-alpha-300: hsla(0,0%,100%,.13);
  --ds-gray-alpha-400: hsla(0,0%,100%,.14);
  --ds-gray-alpha-500: hsla(0,0%,100%,.24);
  --ds-gray-alpha-600: hsla(0,0%,100%,.51);
  --ds-gray-alpha-700: hsla(0,0%,100%,.54);
  --ds-gray-alpha-800: hsla(0,0%,100%,.47);
  --ds-gray-alpha-900: hsla(0,0%,100%,.61);
  --ds-gray-alpha-1000: hsla(0,0%,100%,.92);
  --ds-blue-100: #0f1c2e;
  --ds-blue-200: #10233d;
  --ds-blue-300: #0f2f57;
  --ds-blue-400: #0d3868;
  --ds-blue-500: #0a4380;
  --ds-blue-600: #0091ff;
  --ds-blue-700: #0072f5;
  --ds-blue-800: #0062d1;
  --ds-blue-900: #52a8ff;
  --ds-blue-1000: #ebf6ff;
  --ds-red-100: #2a1314;
  --ds-red-200: #3c1618;
  --ds-red-300: #561a1e;
  --ds-red-400: #671e21;
  --ds-red-500: #832126;
  --ds-red-600: #e5484d;
  --ds-red-700: #e5484d;
  --ds-red-800: #d93036;
  --ds-red-900: #ff6166;
  --ds-red-1000: #feecee;
  --ds-amber-100: #291800;
  --ds-amber-200: #331b00;
  --ds-amber-300: #4d2a00;
  --ds-amber-400: #573300;
  --ds-amber-500: #6b4105;
  --ds-amber-600: #e79d13;
  --ds-amber-700: #ffb224;
  --ds-amber-800: #ff990a;
  --ds-amber-900: #ff990a;
  --ds-amber-1000: #fef3dc;
  --ds-green-100: #0b2212;
  --ds-green-200: #0f2e18;
  --ds-green-300: #12361b;
  --ds-green-400: #0c451b;
  --ds-green-500: #126426;
  --ds-green-600: #1a9338;
  --ds-green-700: #45a557;
  --ds-green-800: #398e4a;
  --ds-green-900: #62c073;
  --ds-green-1000: #e5fbea;
  --ds-teal-100: #04201b;
  --ds-teal-200: #062822;
  --ds-teal-300: #083a33;
  --ds-teal-400: #053d35;
  --ds-teal-500: #085e53;
  --ds-teal-600: #0c9784;
  --ds-teal-700: #12a594;
  --ds-teal-800: #0d8c7d;
  --ds-teal-900: #0ac7b4;
  --ds-teal-1000: #e0faf4;
  --ds-purple-100: #231528;
  --ds-purple-200: #2e1938;
  --ds-purple-300: #422154;
  --ds-purple-400: #4f2768;
  --ds-purple-500: #5f2e85;
  --ds-purple-600: #8e4ec6;
  --ds-purple-700: #8e4ec6;
  --ds-purple-800: #763da9;
  --ds-purple-900: #bf7af0;
  --ds-purple-1000: #f8edfc;
  --ds-pink-100: #28151d;
  --ds-pink-200: #3a1726;
  --ds-pink-300: #4f1c31;
  --ds-pink-400: #551b33;
  --ds-pink-500: #6c1e3e;
  --ds-pink-600: #b31a57;
  --ds-pink-700: #ea3e83;
  --ds-pink-800: #df2670;
  --ds-pink-900: #f75f8f;
  --ds-pink-1000: #feecf4;
  --ds-background-100: #0a0a0a;
  --ds-background-200: #000;
  --foreground: #fff;
  --background: #000;
  --selection: var(--highlight-purple);
  --accents-8: #fafafa;
  --accents-7: #eaeaea;
  --accents-6: #999;
  --accents-5: #888;
  --accents-4: #666;
  --accents-3: #444;
  --accents-2: #333;
  --accents-1: #111;
  --secondary-lighter: var(--accents-2);
  --secondary-light: var(--accents-3);
  --secondary: var(--accents-5);
  --secondary-dark: var(--accents-7);
  --link-color: var(--success-light);
  --marketing-gray: var(--accents-1);
  --code: var(--foreground);
  --error-light: #f33;
  --error: red;
  --error-dark: #e60000;
  --text-gradient: linear-gradient(180deg,#fff,hsla(0,0%,100%,.75));
  --dropdown-box-shadow: 0 0 0 1px var(--accents-2);
  --dropdown-triangle-stroke: #333;
  --scroller-start: #000;
  --scroller-end: transparent;
  --header-background: rgba(0,0,0,.5);
  --header-border-bottom: inset 0 -1px 0 0 hsla(0,0%,100%,.1);
  --header-import-flow-background: hsla(0,0%,7%,.8);
  --shadow-smallest: 0 0 0 1px var(--accents-2);
  --shadow-extra-small: 0 0 0 1px var(--accents-2);
  --shadow-small: 0 0 0 1px var(--accents-2);
  --shadow-medium: 0 0 0 1px var(--accents-2);
  --shadow-large: 0 0 0 1px var(--accents-2);
  --shadow-sticky: 0 0 0 1px var(--accents-2);
  --shadow-hover: 0 0 0 1px var(--foreground);
  --portal-opacity: 0.75;
  --violet-background: #291d3a;
  --violet-background-secondary: #211830;
  --violet-background-tertiary: #211830;
  --background-rgb: 0,0,0;
  --foreground-rgb: 255,255,255;
  --console-header: #0f0310;
  --console-purple: #8a63d2;
  --console-text-color-default: var(--foreground);
  --console-text-color-blue: #3291ff;
  --console-text-color-pink: #eb367f;
  --next-icon-border: #fff;
  --inset-border: 1px solid hsla(0,0%,100%,.1);
  --ds-shadow-base: 0 0 0 1px hsla(0,0%,100%,.145);
  --ds-shadow-small: var(--ds-shadow-base),0px 1px 2px rgba(0,0,0,.16);
  --ds-shadow-medium: var(--ds-shadow-base),0px 2px 2px rgba(0,0,0,.32),0px 8px 8px -8px rgba(0,0,0,.16);
  --ds-shadow-large: var(--ds-shadow-base),0px 2px 2px rgba(0,0,0,.04),0px 8px 16px -4px rgba(0,0,0,.04);
  --ds-shadow-tooltip: var(--ds-shadow-base),0px 1px 1px rgba(0,0,0,.02),0px 4px 8px rgba(0,0,0,.04);
  --ds-shadow-menu: var(--ds-shadow-base),0px 1px 1px rgba(0,0,0,.02),0px 4px 8px -4px rgba(0,0,0,.04),0px 16px 24px -8px rgba(0,0,0,.06);
  --ds-shadow-modal: var(--ds-shadow-base),0px 1px 1px rgba(0,0,0,.02),0px 8px 16px -4px rgba(0,0,0,.04),0px 24px 32px -8px rgba(0,0,0,.06);
  --ds-shadow-fullscreen: var(--ds-shadow-base),0px 1px 1px rgba(0,0,0,.02),0px 8px 16px -4px rgba(0,0,0,.04),0px 24px 32px -8px rgba(0,0,0,.06);
  color-scheme: dark;
}

::selection{
  color: white;
  background-color: rgb(247, 0, 255);
}

body{
  background-color: var(--background);
}

.sectionText{
  margin-bottom: var(--gap-double);
  font-size: 0.75rem;
  color: var(--accents-5);
  letter-spacing: 0.2rem;
  padding-left: 0.2rem;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
}

.newLink{
  display: inline-flex;
  align-items: center;
  gap: var(--space-2x);
  margin-top: 32px;
  font-size: 14px;
  color: var(--accents-5);
  background-color: var(--accents-1);
  border: 1px solid var(--accents-2);
  padding: 6px 5px 6px 5px;
  border-radius: 9999px;
  text-decoration: none;
  line-height: 20px;
  margin: 0 auto;
  text-align: center;
}

.newLink .pill{
  background-color: var(--pill-color);
  font-size: 12px;
  font-weight: 500;
  height: 20px;
  line-height: 20px;
  padding: 0 8px;
  color: var(--background);
  border-radius: 9999px;
}