.wrapper{
  position: relative;
}

.features{
  display: flex;
  background-color: transparent;
  border: none;
  color: var(--ds-gray-900);
  fill: var(--ds-gray-900);
  align-items: center;
  gap: 4px;
  border-radius: 9999px;
  padding: 8px 12px;
  font-size: 14px;
  line-height: 1;
  transition: color .2s ease;
}

.features svg{
  width: 14px;
  height: 14px;
  transition: rotate .15s ease;
  display: block;
}

.open{
  background-color: var(--ds-gray-alpha-300);
  color: var(--ds-gray-1000);
}

.open svg{
  rotate: 180deg;
}

.container{
  position: relative;
  transform-origin: top center;
  position: absolute;
  left: 0;
  top: 100%;
  perspective: 2000px;
  -webkit-backdrop-filter: blur(45px);
  backdrop-filter: blur(45px);
  border-radius: 12px;
  margin-top: var(--margin-top);
}

.containerEnter{
  pointer-events: all;
  opacity: 0;
  transform: rotateX(-30deg) scale(.9);
}

.containerEnterActive{
  pointer-events: all;
  opacity: 1;
  transform: rotateX(0deg) scale(1);
  transition: opacity .2s ease, transform .2s ease;
}

.containerEnterDone{
  pointer-events: all;
  opacity: 1;
  transform: rotateX(0deg) scale(1);
}

.containerExit{
  pointer-events: none;
  opacity: 1;
  transform: rotateX(0deg) scale(1);
}

.containerExitActive{
  pointer-events: none;
  opacity: 0;
  transform: rotateX(-30deg) scale(.9);
  transition: opacity .2s ease, transform .2s ease;
}

.containerExitDone{
  pointer-events: none;
  opacity: 0;
  transform: rotateX(-30deg) scale(.9);
}

.menu{
  width: calc(var(--width) + var(--border-width) * 2);
  height: calc(var(--height) + var(--border-width) * 2);
  border-radius: 12px;
  border: 1px solid var(--border-color);
  background-color: var(--menu-bg);
  box-shadow: 0 50px 100px -20px rgba(0,0,0,.12), 0 30px 60px -30px rgba(0,0,0,.15);
  transition: width, height, .3s ease;
  overflow: hidden;
  padding: 6px;
}

.container .menu ul{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0;
}

.link{
  display: flex;
  flex-direction: column;
  text-decoration: none;
  user-select: none;
  padding: var(--padding);
  border-radius: 8px;
  font-size: 14px;
  transition: background-color .15s ease;
  gap: 8px;
}

.link:hover{
  background-color: var(--ds-gray-100);
}

:global(.dark-theme) .link:hover{
  background-color: var(--ds-gray-alpha-100);
}

.description{
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.25rem;
  color: var(--ds-gray-900);
}

.header{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  color: var(--ds-gray-1000);
  white-space: nowrap;
}

.header svg{
  display: block;
  width: 18px;
  height: 18px;
}

.indicator{
  position: absolute;
  left: 0;
  width: 98px;
  height: 10px;
  top: calc(100% + var(--margin-top) - 9px);
  overflow: hidden;
  z-index: 1;
  display: flex;
  justify-content: center;
}

.indicator svg{
  position: absolute;
  height: 32px;
  width: 32px;
  transform: rotate(180deg);
  top: -10px;
}

.indicatorEnter{
  pointer-events: all;
  opacity: 0;
}

.indicatorEnterActive{
  pointer-events: all;
  opacity: 1;
  transition: opacity .2s ease;
}

.indicatorEnterDone{
  pointer-events: all;
  opacity: 1;
}

.indicatorExit{
  pointer-events: none;
  opacity: 1;
}

.indicatorExitActive{
  pointer-events: none;
  opacity: 0;
  transition: opacity .2s ease;
}

.indicatorExitDone{
  pointer-events: none;
  opacity: 0;
}